@charset "UTF-8";
/* =================== base =================== */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "noto", "spoqa", sans-serif;
  letter-spacing: -0.04em;
  stroke-width: 0;
  word-break: break-all; }

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth; }

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer; }

ol,
ul,
dl {
  list-style: none; }

select {
  padding: 5px 10px; }

/* ie 화살표 제거 */
select::-ms-expand {
  display: none; }

address {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =================== typo =================== */
/* ---------- noto sans kr ---------- */
@font-face {
  font-family: "noto";
  font-weight: 800;
  src: local("noto sans kr black"), local("Noto Sans KR Black"), url("../../fonts/notosanskr/NotoSansKR-Black.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Black.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Black.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Black.otf") format("opentype"); }
@font-face {
  font-family: "noto";
  font-weight: 600;
  src: local("noto sans kr bold"), local("Noto Sans KR Bold"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Bold.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Bold.otf") format("opentype"); }
@font-face {
  font-family: "noto";
  font-weight: 500;
  src: local("noto sans kr medium"), local("Noto Sans KR Medium"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Medium.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Medium.otf") format("opentype"); }
@font-face {
  font-family: "noto";
  font-weight: 400;
  src: local("noto sans kr regular"), local("Noto Sans KR Regular"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Regular.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Regular.otf") format("opentype"); }
@font-face {
  font-family: "noto";
  font-weight: 300;
  src: local("noto sans kr light"), local("Noto Sans KR Light"), url("../../fonts/notosanskr/NotoSansKR-Light.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Light.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Light.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Light.otf") format("opentype"); }
@font-face {
  font-family: "noto";
  font-weight: 200;
  src: local("noto sans kr demilight"), local("Noto Sans KR DemiLight"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-DemiLight.otf") format("opentype"); }
@font-face {
  font-family: "noto";
  font-weight: 100;
  src: local("noto sans kr thin"), local("Noto Sans KR Thin"), url("../../fonts/notosanskr/NotoSansKR-Thin.woff2") format("woff2"), url("../../fonts/notosanskr/NotoSansKR-Thin.woff") format("woff"), url("../../fonts/notosanskr/NotoSansKR-Thin.ttf") format("truetype"), url("../../fonts/notosanskr/NotoSansKR-Thin.otf") format("opentype"); }
/* =================== helper =================== */
.none {
  display: none; }

.is-hans {
  font-family: "Black Han Sans", sans-serif; }

.is-tab-show {
  display: none; }
  @media all and (max-width: 900px) {
    .is-tab-show {
      display: block; } }

@media all and (max-width: 900px) {
  .is-tab-hide {
    display: none; } }

.is-mo-show {
  display: none; }
  @media all and (max-width: 600px) {
    .is-mo-show {
      display: block; } }

@media all and (max-width: 600px) {
  .is-mo-hide {
    display: none; } }

.is-mo-sm-show {
  display: none; }
  @media all and (max-width: 360px) {
    .is-mo-sm-show {
      display: block; } }

@media all and (max-width: 360px) {
  .is-mo-sm-hide {
    display: none; } }

.is-mo-xsm-show {
  display: none; }
  @media all and (max-width: 320px) {
    .is-mo-xsm-show {
      display: block; } }

@media all and (max-width: 320px) {
  .is-mo-xsm-hide {
    display: none; } }

.img-box__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.inner {
  max-width: 1200px;
  margin: 0 auto; }

.swiper-button-next,
.swiper-button-prev {
  background: none; }

.swiper-button-prev {
  left: -3.75rem; }

.swiper-button-next {
  right: -4.0625rem; }

.swiper-btn-prev, .swiper-btn-next {
  display: inline-block;
  width: 1.1875rem;
  height: 1.9375rem; }

.swiper-btn-prev {
  background-image: url("../../img/swiper-btn-left.png");
  left: -4.0625rem; }

.swiper-btn-next {
  background-image: url("../../img/swiper-btn-right.png");
  right: -4.0625rem; }

.cm-gra-txt {
  display: flex;
  align-items: center;
  display: inline-block;
  width: auto;
  padding: 0 0.8125rem;
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 0.85;
  letter-spacing: 0.125rem;
  color: #000000; }
  .cm-gra-txt img {
    vertical-align: bottom; }
  .cm-gra-txt:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.4375rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1.875rem;
    background-color: #ffed43; }

.cm-gra-sm {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600; }
  .cm-gra-sm:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.25rem;
    left: -1.5%;
    z-index: -1;
    width: 104%;
    margin: 0 auto;
    height: 1rem;
    background-color: #ffed43; }

.cm-desc-box {
  margin-top: 0.9375rem;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .cm-desc-box__img {
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.5625rem; }
    .cm-desc-box__img img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .cm-desc-box__name {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.93;
    letter-spacing: 0.0437rem;
    color: #000000;
    margin-right: 0.3125rem; }
  .cm-desc-box .cm-sel {
    font-size: 0.875rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.93;
    letter-spacing: 0.0437rem;
    text-align: center;
    color: #000000; }
    .cm-desc-box .cm-sel .in-icon {
      position: relative;
      top: -0.125rem;
      display: inline-block;
      font-size: 0.625rem;
      margin-right: 0.6875rem; }

.cm-desc-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3;
  height: 2.6;
  /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
  height: 2.875rem;
  margin-top: 0.625rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.0563rem;
  color: #000000; }

.cm-desc-bot-box {
  margin-top: 1.6875rem; }
  .cm-desc-bot-box__price {
    font-size: 1.375rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.0688rem;
    color: #000000; }
  .cm-desc-bot-box__txt {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: 0.0437rem;
    color: #000000; }
  .cm-desc-bot-box__num {
    position: relative;
    margin-left: 0.6875rem; }
    .cm-desc-bot-box__num .in-num {
      position: absolute;
      top: -0.75rem;
      right: -0.65rem;
      background: #ffed43;
      padding: 0.125rem 0.25rem;
      border-radius: 0.4375rem;
      font-size: 0.6125rem;
      font-weight: bold;
      line-height: 1.46;
      letter-spacing: 0.0144rem;
      text-align: center;
      color: #1d2129; }

.cm-badge {
  display: inline-block;
  padding: 0rem 0.4375rem;
  border-radius: 1.5625rem;
  background: #ff651c;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 2.25;
  letter-spacing: 0.0375rem;
  text-align: center;
  color: #ffffff; }
  .cm-badge.is-blue {
    background: #597ce8; }

.cm-link-btn {
  display: inline-block;
  width: 14.0625rem;
  height: 3.75rem;
  line-height: 3.75rem;
  border-radius: 2.8125rem !important;
  background: #ffed43 !important;
  color: #1d2129;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.1669rem;
  font-weight: 500; }

.cm-tilte-wrap .cm-txt {
  margin-left: 2.75rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.63;
  letter-spacing: 0.075rem;
  color: #000000; }
  .cm-tilte-wrap .cm-txt .bold {
    font-weight: 600; }

/* =================== button =================== */
.btn {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .btn.is-disabled {
    background-color: gray;
    cursor: default; }
  .btn-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .btn-wrap .btn {
      margin: 10px 0;
      margin-left: 10px; }
      .btn-wrap .btn:first-of-type {
        margin-left: 0px; }
  .btn-wrap--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap; }
    .btn-wrap--right .btn {
      margin: 10px 0;
      margin-left: 10px; }
      .btn-wrap--right .btn:first-of-type {
        margin-left: 0px; }
  .btn-double-wrap {
    display: flex;
    align-items: center; }
    .btn-double-wrap .btn {
      width: 50%; }
  .btn-double-wrap--side {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .btn-double-wrap--side .btn {
      width: 48%; }
  .btn-fixed-wrap {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 20; }
    .btn-fixed-wrap .btn {
      width: 100%;
      height: 100%; }
  .btn-fixed-wrap--double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 20; }
    .btn-fixed-wrap--double .btn {
      width: 50%;
      height: 100%; }
  .btn-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 50%; }
  .btn-round {
    border-radius: 25px; }
  .btn-round.btn-ht-sm {
    border-radius: 15px; }
  .btn-round.btn-ht-lg {
    border-radius: 30px; }
  .btn-rounded {
    border-radius: 8px; }
  .btn-shadow {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07); }

.btn-ht-sm {
  height: 30px; }

.btn-ht-md {
  height: 50px; }

.btn-ht-lg {
  height: 70px; }

.btn-wi-sm {
  width: 100px; }

.btn-wi-md {
  width: 150px; }

.btn-wi-lg {
  width: 200px; }

.btn-wi-100 {
  width: 100%; }

.btn-main {
  background-color: lightblue;
  color: black; }

.btn-sub {
  background-color: pink;
  color: black; }

.btn-gray {
  background-color: gray;
  color: black; }

.btn-gra {
  background: linear-gradient(to left, lightblue 0%, pink 50%, lightblue 100%);
  background-size: 200%;
  background-position: left top;
  color: white;
  transition: all 0.3s; }
  .btn-gra:hover {
    background-position-x: 100%; }

.btn-bd-main {
  border: 1px solid lightblue;
  background-color: white;
  color: lightblue; }

.btn-bd-sub {
  border: 1px solid pink;
  background-color: white;
  color: pink; }

.btn-bd-gray {
  border: 1px solid gray;
  background-color: white;
  color: gray; }

.btn-gst-main {
  border: 1px solid lightblue;
  color: lightblue; }

.btn-gst-sub {
  border: 1px solid pink;
  color: pink; }

.btn-gst-gray {
  border: 1px solid gray;
  color: gray; }

.socail-btn-wrap {
  flex-wrap: wrap; }
  .socail-btn-wrap .btn {
    margin: 0; }

.socail-icon-btn-wrap {
  justify-content: center; }

.btn-kakao {
  background-color: #fae300;
  color: #ffffff; }

.btn-facebook {
  background-color: #204889;
  color: #ffffff; }

.btn-naver {
  background-color: #00bf19;
  color: #ffffff; }

.btn-kakao {
  color: #2b1718; }

/* =================== form =================== */
.input {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  resize: none; }
  .input-wrap {
    width: 100%; }
  .input-style {
    display: block;
    width: 100%;
    height: 54px;
    border: 1px solid;
    border-radius: 6px;
    padding: 0 17px;
    background-color: white;
    font-size: emSize(18); }
    .input-style:focus {
      border-color: lightblue; }
    .input-style::placeholder {
      opacity: 0.7; }
    .input-style--round {
      display: block;
      width: 100%;
      height: 54px;
      border: 1px solid;
      border-radius: 25px;
      padding: 0 17px;
      background-color: white;
      font-size: emSize(18); }
      .input-style--round:focus {
        border-color: lightblue; }
      .input-style--round::placeholder {
        opacity: 0.7; }
    .input-style--underbar {
      display: block;
      width: 100%;
      height: 54px;
      border: 0 solid;
      border-radius: 0;
      padding: 0 17px;
      background-color: white;
      font-size: emSize(18);
      border-bottom: 1px; }
      .input-style--underbar:focus {
        border-color: lightblue; }
      .input-style--underbar::placeholder {
        opacity: 0.7; }
  .input-tarea {
    height: 200px; }
  .input-selec {
    cursor: pointer; }

.rate1:before {
  content: "1.0"; }
.rate1:after {
  content: url("../../images/icon/icon_star1.svg"); }

.rate2:before {
  content: "2.0"; }
.rate2:after {
  content: url("../../images/icon/icon_star2.svg"); }

.rate3:before {
  content: "3.0"; }
.rate3:after {
  content: url("../../images/icon/icon_star3.svg"); }

.rate4:before {
  content: "4.0"; }
.rate4:after {
  content: url("../../images/icon/icon_star4.svg"); }

.rate5:before {
  content: "5.0"; }
.rate5:after {
  content: url("../../images/icon/icon_star5.svg"); }

/* =================== list =================== */
.list {
  display: flex;
  align-items: center; }
  .list-title {
    width: 200px; }
  .list-desc {
    width: 100%; }

.list-wrap {
  position: relative; }
  .list-wrap--underline .list {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0; }
  .list-wrap--underline .list:first-of-type {
    border-top: 0; }
  .list-wrap--side .list {
    align-items: center;
    justify-content: space-between; }
  .list-wrap--side .list-title {
    min-width: 150px;
    width: auto; }
  .list-wrap--side .list-desc {
    width: auto; }

/* =================== layout =================== */
#app,
.wrap {
  min-height: 100%; }

#page {
  min-height: 100%; }

.l-center {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto; }

.empty-content {
  width: 100%;
  text-align: center;
  padding: 50px 0; }
  .empty-content__img-box {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 20px; }
    .empty-content__img-box img {
      width: 100%; }
  .empty-content__txt {
    font-weight: 400;
    color: black;
    opacity: 0.8; }

/* =================== header =================== */
.header {
  width: 100%;
  background: #221714; }
  .header .inner {
    position: relative;
    height: 4.5rem; }
    .header .inner > * {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .header__util-pos {
    right: 19.6875rem; }

/* =================== logo =================== */
.logo {
  position: absolute;
  top: 52% !important; }

.gnb {
  position: absolute;
  left: 9.375rem;
  display: flex; }
  .gnb__list {
    margin-right: 2.375rem; }
  .gnb__item {
    display: inline-block;
    font-size: 1rem;
    color: #fff; }

.util {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0; }
  .util__list {
    margin-right: 2.5rem; }
    .util__list:last-of-type {
      margin-right: 0; }
  .util__item {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1rem;
    color: #fff; }
    .util__item.is-active {
      padding: 0.625rem 1.3125rem;
      background: #ffed43;
      color: #000;
      font-weight: 600;
      border-radius: 1.5625rem;
      transition: all 0.4s; }
      .util__item.is-active:hover {
        background: #fff;
        color: #000; }

.tab-menu__item {
  width: auto !important; }

/* =================== footer =================== */
.footer {
  padding: 2.25rem 0;
  background-color: #f6f6f6;
  text-align: center; }
  .footer .footer-info__txt {
    font-size: 0.75rem;
    line-height: 1.67;
    text-align: center;
    color: #979797; }
  .footer .footer-info__util a {
    margin-top: 1.1875rem;
    margin-bottom: 0.4375rem;
    margin-right: 0.3125rem;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    color: #1d2129; }

/* =================== main =================== */
/* =================== visual =================== */
.visual {
  position: relative;
  background: url(../../img/bg-visual.png) no-repeat;
  background-size: cover;
  height: 32.8125rem; }
  .visual .inner {
    height: 100%;
    display: flex;
    align-items: center; }
  .visual__img {
    position: absolute;
    top: 0rem;
    right: 6rem;
    width: 43.8125rem;
    height: 31.5rem; }
    .visual__img img {
      width: 100%;
      height: 100%;
      vertical-align: bottom; }
  .visual__txt-wrap {
    margin-top: -8.5625rem; }
  .visual__txt {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 2.1875rem; }
    .visual__txt .is-bold {
      font-size: 4.125rem;
      font-weight: 500;
      letter-spacing: 0.5rem; }

/* =================== tab-menu =================== */
.tab-menu {
  border-top: 0.0625rem solid #bebebe;
  height: 9.6875rem;
  background: rgba(241, 241, 241, 0.85);
  margin-top: -9.6875rem;
  position: relative;
  z-index: 10; }
  .tab-menu__list-wrap {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto; }
  .tab-menu__item {
    padding-top: 1.3125rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.0625rem;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px; }
    .tab-menu__item .btn {
      font-size: 1rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.13;
      letter-spacing: 0.05rem;
      width: max-content; }
      .tab-menu__item .btn.is-active {
        position: relative;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.7;
        letter-spacing: 0.0625rem;
        color: #000000; }
        .tab-menu__item .btn.is-active:before {
          content: "";
          display: block;
          left: 50%;
          transform: translateX(-50%);
          top: -1.375rem;
          position: absolute;
          width: 75%;
          height: 0.25rem;
          background: #000;
          margin: 0 auto; }

/* =================== list-item-wrap =================== */
.list-item-wrap {
  position: relative; }

.list-item {
  margin-top: -4.5rem;
  position: relative;
  z-index: 10; }
  .list-item__item {
    text-align: center;
    border: 0.0625rem solid #e6e6e6;
    height: 19.75rem;
    padding-top: 1.25rem;
    background: #fff; }
  .list-item__profile {
    width: 6.875rem;
    height: 6.875rem;
    margin: 0 auto;
    margin-bottom: 1.625rem; }
    .list-item__profile img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .list-item__tit {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 0.77;
    letter-spacing: normal;
    text-align: center;
    color: #1d2129;
    margin-bottom: 0.625rem; }
  .list-item__txt {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.0375rem;
    color: #000000;
    margin-bottom: 0.8125rem; }
  .list-item__icon-wrap {
    margin-bottom: 1.375rem; }
  .list-item__icon-wrap-icon {
    margin-right: 0.5rem; }
    .list-item__icon-wrap-icon:last-of-type {
      margin-right: 0; }
  .list-item__desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1;
    height: 2;
    /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
    height: 2.125rem;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.42;
    letter-spacing: 0.0375rem;
    text-align: center;
    color: #979797; }

/* =================== present =================== */
.present {
  position: relative;
  margin: 9.6875rem 0 8.125rem; }
  .present:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 9.6875rem;
    background-color: #f3f3f3; }
  .present .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .present .present-left .present-left__img {
    margin-top: -5.9375rem;
    margin-left: -5.5rem; }
    .present .present-left .present-left__img img {
      width: 100%; }
  .present .present-left .present-left__txt {
    margin-top: 2.0625rem; }
    .present .present-left .present-left__txt .in-title {
      margin-top: 1.5625rem;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.63;
      letter-spacing: 0.075rem;
      color: #000000;
      font-weight: 600; }
    .present .present-left .present-left__txt .in-txt {
      margin-top: 0.3125rem;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.63;
      letter-spacing: 0.075rem;
      color: #000000; }
  .present .present-right {
    position: relative;
    width: 70%;
    margin-top: 18px; }
    .present .present-right__slide-item {
      margin-top: 0.8125rem; }
      .present .present-right__slide-item .in-img {
        height: 16.25rem; }
        .present .present-right__slide-item .in-img img {
          height: 100%;
          width: 100%;
          border-radius: 3px; }

/* =================== mission =================== */
.mission .inner {
  position: relative; }
.mission .type02-slide-wrap {
  margin-top: 2.625rem; }
.mission .type02-slide-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom; }

/* =================== review =================== */
.review {
  margin-top: 8.125rem; }
  .review .review-info {
    margin-top: 6rem; }
    .review .review-info__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1.5625rem; }
    .review .review-info__item-left {
      padding-left: 6.875rem;
      flex-shrink: 0;
      width: 18.4375rem;
      margin-right: 4.375rem; }
    .review .review-info__item-img {
      position: relative;
      width: 9.375rem;
      height: 9.375rem; }
      .review .review-info__item-img img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .review .review-info__item-txt {
      position: absolute;
      bottom: -1.3125rem;
      right: -1.75rem;
      display: inline-block;
      background: #f3f3f3;
      height: 3rem;
      padding: 0 1.4375rem;
      border-radius: 1.5rem;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 2.13;
      letter-spacing: 0.0688rem;
      color: #000000;
      text-align: center; }
      .review .review-info__item-txt .is-bold {
        font-weight: 600; }
    .review .review-info__item-right {
      position: relative;
      z-index: -2;
      height: 11.6875rem;
      padding: 1.9375rem 4.125rem 2rem 5.625rem;
      border-radius: 0.4375rem;
      background-color: #f3f3f3;
      width: 53%; }
    .review .review-info__item-right-txt {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.55;
      letter-spacing: 0.0625rem;
      color: #000000; }

/* =================== main-link-btn =================== */
.main-link-btn {
  text-align: center;
  margin-top: 9.6875rem;
  padding-bottom: 15.4375rem; }
  .main-link-btn__title {
    margin-bottom: 3.3125rem;
    font-size: 3.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: 0.1875rem;
    color: #000000; }

@media all and (max-width: 1300px) {
  html {
    font-size: 14px; }

  .inner {
    padding: 0 15px; }

  .util {
    right: 15px; }

  .list-item__item {
    height: auto;
    padding-bottom: 1.25rem; }

  .review .review-info__item-right {
    height: auto; } }
@media all and (max-width: 900px) {
  html {
    font-size: 12px; }

  .util {
    display: none; }

  .gnb {
    display: none; }

  .header__util-pos {
    right: 25%; }

  .search {
    width: 28px;
    height: 28px; }
    .search img {
      width: 100%;
      height: 100%; } }
@media all and (max-width: 600px) {
  html {
    font-size: 10px; }

  .swiper-button-next,
  .swiper-button-prev {
    display: none; }

  .visual {
    height: 29.6125rem; }

  .visual__img {
    position: absolute;
    top: 0rem;
    right: -10%;
    width: auto;
    height: auto; }

  .visual__txt .is-bold {
    font-size: 29px;
    letter-spacing: 1px; }

  .visual__txt-wrap {
    position: relative;
    left: 4%; }

  .visual__txt {
    line-height: 1.6; }

  .w-auto .swiper-slide {
    width: auto !important; }

  .tab-menu__item .btn {
    font-size: 14px; }

  .tab-menu__item .btn.is-active {
    font-size: 16px; }

  .list-item-wrap {
    margin-top: 10px; }

  .list-item__icon-wrap-icon {
    display: inline-block;
    width: 23px;
    height: 23px; }
    .list-item__icon-wrap-icon img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }

  .list-item__profile {
    margin-bottom: 18px; }

  .list-item__tit {
    font-size: 14px; }

  .list-item__txt {
    font-size: 12px; }

  .list-item__item {
    padding-bottom: 2.05rem; }

  .list-item__desc {
    height: 4.125rem; }

  .present {
    margin: 3.6875rem 0 8.125rem;
    margin-top: 30px;
    margin-bottom: 3.4375rem; }

  .present:before {
    display: none; }

  .present .inner {
    flex-direction: column;
    align-items: flex-start; }

  .present-left {
    padding-left: 20px; }

  .present .present-left .present-left__img {
    width: 157px;
    height: 99px;
    margin-top: 0;
    margin-left: -2rem; }

  .present .present-left .present-left__txt {
    margin-top: 0; }

  .present .present-right {
    margin-top: 15px;
    width: 100%; }

  .present .present-right__slide-item .in-img {
    height: 14.25rem; }

  .cm-gra-txt {
    font-size: 26px; }

  .cm-gra-txt img {
    width: 20px;
    height: 25px;
    margin-left: 5px; }

  .present .present-left .present-left__txt .in-txt {
    line-height: 1;
    margin-top: 2px; }

  .cm-desc-txt {
    font-size: 14px;
    font-weight: 500;
    height: 3.875rem; }

  .cm-tilte-wrap {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

  .cm-tilte-wrap .cm-txt {
    margin-left: 0;
    margin-top: 10px; }

  .mission {
    margin-top: 60px; }

  .cm-desc-bot-box {
    margin-top: -5px;
    display: flex;
    align-items: center; }

  .cm-desc-bot-box__icon img {
    height: 19px;
    display: inline-block;
    margin: 0 5px; }

  .cm-desc-bot-box__num {
    margin-left: auto;
    margin-right: 15px; }

  .cm-desc-bot-box__num .in-img img {
    height: 15px; }

  .review .review-info {
    margin-top: 2rem; }

  .review .review-info__item {
    flex-direction: column;
    align-items: flex-start; }

  .review .review-info__item-left {
    width: 100%;
    margin-right: 0;
    padding-left: 0; }

  .review .review-info__item-right {
    padding: 10px;
    margin-top: 35px;
    width: 100%;
    height: auto; }

  .review .review-info__item-right-txt {
    font-size: 12px;
    word-break: break-all; }

  .main-link-btn__title {
    font-size: 26px; }

  .main-link-btn {
    margin-top: 8.6875rem; }

  .plus-btn {
    position: absolute;
    right: 14%; } }

/*# sourceMappingURL=ui.css.map */
