/* =================== main =================== */
/* =================== visual =================== */
.visual {
  position: relative;
  background: url(../../img/bg-visual.png) no-repeat;
  background-size: cover;
  height: 32.8125rem;

  .inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__img {
    position: absolute;
    top: 0rem;
    right: 6rem;
    width: 43.8125rem;
    height: 31.5rem;

    img {
      width: 100%;
      height: 100%;
      vertical-align: bottom;
    }
  }

  &__txt-wrap {
    margin-top: -8.5625rem;
  }

  &__txt {
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 2.1875rem;

    .is-bold {
      font-size: 4.125rem;
      font-weight: 500;
      letter-spacing: 0.5rem;
    }
  }

  &__btn {
  }
}

/* =================== tab-menu =================== */
.tab-menu {
  border-top: 0.0625rem solid #bebebe;
  height: 9.6875rem;
  background: rgba(241, 241, 241, 0.85);
  margin-top: -9.6875rem;
  position: relative;
  z-index: 10;

  &__list-wrap {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__list {
  }

  &__item {
    padding-top: 1.3125rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.0625rem;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

    .btn {
      font-size: 1rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.13;
      letter-spacing: 0.05rem;
      width: max-content;

      &.is-active {
        position: relative;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.7;
        letter-spacing: 0.0625rem;
        color: #000000;

        @include make-before {
          left: 50%;
          transform: translateX(-50%);
          top: -1.375rem;
          position: absolute;
          width: 75%;
          height: 0.25rem;
          background: #000;
          margin: 0 auto;
        }
      }
    }
  }
}

/* =================== list-item-wrap =================== */
.list-item-wrap {
  position: relative;
}
.list-item {
  margin-top: -4.5rem;
  position: relative;
  z-index: 10;

  &__item {
    text-align: center;
    border: 0.0625rem solid #e6e6e6;
    height: 19.75rem;
    padding-top: 1.25rem;
    background: #fff;
  }

  &__profile {
    width: 6.875rem;
    height: 6.875rem;
    margin: 0 auto;
    margin-bottom: 1.625rem;

    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__tit {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 0.77;
    letter-spacing: normal;
    text-align: center;
    color: #1d2129;
    margin-bottom: 0.625rem;
  }

  &__txt {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.0375rem;
    color: #000000;
    margin-bottom: 0.8125rem;
  }

  &__icon-wrap {
    margin-bottom: 1.375rem;
  }

  &__icon-wrap-icon {
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__desc {
    @include ellipse(2, 1);

    height: 2.125rem;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.42;
    letter-spacing: 0.0375rem;
    text-align: center;
    color: #979797;
  }
}

/* =================== present =================== */
.present {
  position: relative;
  margin: 9.6875rem 0 8.125rem;

  @include make-before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 9.6875rem;
    background-color: #f3f3f3;
  }

  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .present-left {
    .present-left__img {
      margin-top: -5.9375rem;
      margin-left: -5.5rem;
      img {
        width: 100%;
      }
    }
    .present-left__txt {
      margin-top: 2.0625rem;
      .in-title {
        margin-top: 1.5625rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: 0.075rem;
        color: #000000;
        font-weight: 600;
      }
      .in-txt {
        margin-top: 0.3125rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: 0.075rem;
        color: #000000;
      }
    }
  }
  .present-right {
    position: relative;
    width: 70%;
    margin-top: 18px;

    &__slide-item {
      margin-top: 0.8125rem;
      .in-img {
        height: 16.25rem;
        img {
          height: 100%;
          width: 100%;
          border-radius: 3px;
        }
      }
    }
  }
}

/* =================== mission =================== */
.mission {
  .inner {
    position: relative;
  }

  .type02-slide-wrap {
    margin-top: 2.625rem;
  }
  .type02-slide-item__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
}

/* =================== review =================== */
.review {
  margin-top: 8.125rem;

  .review-info {
    margin-top: 6rem;

    &__item {
      @include flex {
        @include flex-op(center, flex-start);
      }

      margin-bottom: 1.5625rem;
    }

    &__item-left {
      padding-left: 6.875rem;
      flex-shrink: 0;
      width: 18.4375rem;
      margin-right: 4.375rem;
    }

    &__item-img {
      position: relative;
      width: 9.375rem;
      height: 9.375rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &__item-txt {
      position: absolute;
      bottom: -1.3125rem;
      right: -1.75rem;
      display: inline-block;
      background: #f3f3f3;
      height: 3rem;
      padding: 0 1.4375rem;
      border-radius: 1.5rem;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 2.13;
      letter-spacing: 0.0688rem;
      color: #000000;
      text-align: center;

      .is-bold {
        font-weight: 600;
      }
    }

    &__item-right {
      position: relative;
      z-index: -2;
      height: 11.6875rem;
      padding: 1.9375rem 4.125rem 2rem 5.625rem;
      border-radius: 0.4375rem;
      background-color: #f3f3f3;
      width: 53%;
    }

    &__item-right-txt {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.55;
      letter-spacing: 0.0625rem;
      color: #000000;
    }
  }
}

/* =================== main-link-btn =================== */
.main-link-btn {
  text-align: center;
  margin-top: 9.6875rem;
  padding-bottom: 15.4375rem;

  &__title {
    margin-bottom: 3.3125rem;
    font-size: 3.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.57;
    letter-spacing: 0.1875rem;
    color: #000000;
  }
}
